<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li class="navbar-brand mb-0 h1">
                    <%= link_to 'Comic Alley Collection', root_path, class:"navbar-brand mb-0 h1 link-dark" %>
                </li>
                <li>
                    <%= link_to 'Overview', overview_path, class:"nav-link px-2 link-secondary" %>
                </li>
                <li>
                    <%= link_to 'Collections', collections_path, class:"nav-link px-2 link-dark" %>
                </li>
            </ul>
        </div>
    </div>
</header>